.actions_articles {
	width: 95%;
	margin:0 auto;
	display: flex;
	justify-content: space-between;
}

h2 {
	text-align: center;
}

.actions_articles div {
	width: 100%;
	height: 500px;
	background-color: grey;
}

.actions article {
	width: 30%;
	border: 1px black solid;
}

.actions h3 {
	text-align: center;
}